apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      imagePullSecrets:
        - name: ecr-pull-secret
      containers:
        - name: hotel-service
          image: 147100277727.dkr.ecr.ap-south-1.amazonaws.com/user-service:0f21da87503c40a7035bffb5d4dfe24b5d3fef97-
          ports:
            - containerPort: 8082
